:root {
  --blurple: hsl(235, 86%, 65%);
  --dark-blurple: hsl(234, 48%, 49%);
  --greyple: hsl(214, 15%, 65%);
  --dark-bg: hsl(220, 8%, 15%);
  --darker-bg: hsl(220, 12%, 5%);
  --discord-green: hsl(145, 84%, 65%);
  --discord-yellow: hsl(52, 99%, 67%);
  --discord-red: hsl(359, 83%, 59%);
  --discord-fuchsia: hsl(326, 79%, 57%);
}

body {
  background: rgba(0, 0, 0, 0.957);
  
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  
}




