

:root {
  --background: #ffffff;
  --foreground: #171717;
}
:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}


body {
  background: #ededed;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  
}




