.container{
    background-color:var(--darker-bg);
    display: flex;
    width: 100vw;
    height: 5vh;
    justify-content: center;
    align-items: center;
}
.nav{
    width: 90vw;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo, .userInfo {
    color: #f1f1f1;
}